<% if session[:user_id] == nil %>
  <%= render '404' %>
<% else
@permissions = session[:permission] %>

<% if @updated != nil  && @updated.errors.any? %>
  <%= render 'material_admin/error_message' %>
<% end %>

<header id="header" class="clearfix" data-ma-theme="blue">
  <ul class="h-inner">
      <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
          <div class="line-wrap">
              <div class="line top"></div>
              <div class="line center"></div>
              <div class="line bottom"></div>
          </div>
      </li>

      <li class="hi-logo hidden-xs">
          <a style='color:white;'>Messaging App</a>
      </li>
  </ul>

  <!-- Top Search Content -->
  <div class="h-search-wrap">
      <div class="hsw-inner">
          <i class="material-icons hsw-close" data-ma-action="search-close">arrow_back</i>
          <input type="text">
      </div>
  </div>
</header>

<section id="main">
  <aside id="sidebar" class="sidebar c-overflow">
      <div class="s-profile">
          <a href="" data-ma-action="profile-menu-toggle">
              <div class="sp-pic">
                  <div class='user-icon'>
                    <%= session[:username][0].titleize %>
                  </div>
              </div>

              <div class="sp-info">
                  Welcome, <%= session[:username].titleize %>!
                  <i class="material-icons">expand_more</i>
              </div>
          </a>

          <ul class="main-menu">
              <li>
                <%= link_to '/logout' do  %>
                  <i class="material-icons">restore</i>
                  Logout
                <% end %>
              </li>
          </ul>
      </div>

      <ul class="main-menu">

        <% if session[:user_id] != nil && @permissions >= 1  %>
          <li>
            <%= link_to '/home', method: "get" do %>
              <i class="material-icons">home</i>
              Home
            <% end %>
          </li>
        <% end %>

        <% if session[:user_id] != nil && @permissions >= 2  %>
          <li>
            <%= link_to '/home', method: "post" do %>
              <i class="material-icons">message</i>
              Messages
            <% end %>
          </li>
        <% end %>

        <% if session[:user_id] != nil && @permissions >= 3 %>
            <li>
              <%= link_to '/home', method: "put" do %>
                <i class="material-icons">settings</i>
                Settings
              <% end %>
            </li>
        <% end %>
      </ul>
  </aside>

  <%= render 'material_admin/content', locals: { content: @content }%>
</section>

<footer id="footer">
  Copyright &copy; 2018 Messaging App

  <ul class="f-menu">
      <li><a>Home</a></li>
  </ul>
</footer>

<!-- Page Loader
<div class="page-loader">
    <div class="preloader pls-blue">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20" />
        </svg>

        <p>Please wait...</p>
    </div>
</div>-->

<% end %>
