<% if params.has_key?(:notice) %>
    <%= "#{ params['notice']}" %>
    <% end %>
    <% if @user.errors != nil && @user.errors.any? %>
            <ul class="Signup_Errors">
                <% for message_error in @user.errors.full_messages %>
                    <li>* <%= message_error %></li>
                <% end %>
             </ul>
        <% end %>
<div class="login-content">
    <!-- Login -->
    <div class="lc-block toggled" id="l-login">
        <%= form_with scope: :user, url: '/login', local: true do |f| %>
        <div class="lcb-form">
          <h1 class="title">SIGN IN</h1>
            <div class="form-group">
                <div class="fg-line">
                    <%= f.text_field :username, :class => "form-control", :placeholder => 'Username', :required => true %>
                </div>
            </div>

            <div class="form-group">
                <div class="fg-line">
                    <%= f.password_field :password, :class => "form-control", :placeholder => 'Password', :required => true %>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Keep me signed in
                </label>
            </div>
             <%= f.button :submit, :class => 'btn btn-login btn-success' do %>
              <i class="material-icons">arrow_forward</i>
            <% end %>
        </div>
        <% end %>
        <div class="lcb-navigation">
            <a href="" data-ma-action="login-switch" data-ma-block="#l-register">
              <i class="material-icons">add</i>
              <span>Sign Up</span>
            </a>
        </div>
    </div>
    <!-- Register -->
    <div class="lc-block" id="l-register">
        <%= form_with scope: :user, url: '/signup', local: true do |f| %>
        <div class="lcb-form">
          <h1 class="title">SIGN UP</h1>
            <div class="form-group">
                <div class="fg-line">
                    <%= f.text_field :username, :class => 'form-control', :placeholder => "Username", :required => true %>
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    <%= f.password_field :password, :class => 'form-control', :placeholder => "Password", :required => true %>
                </div>
            </div>
            <%= f.hidden_field :permission, :value => 1 %>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="check" id="check" name="check">
                    <i class="input-helper"></i>
                    Terms and Condition
                </label>
            </div>
            <%= f.button :submit, :class => 'btn btn-login btn-success' do %>
              <i class="material-icons">check</i>
            <% end %>
        </div>
        <% end %>
        <div class="lcb-navigation">
            <a href="" data-ma-action="login-switch" data-ma-block="#l-login">
              <i class="material-icons">arrow_forward</i>
              <span>Sign in</span>
            </a>
        </div>
    </div>
</div>
